.contact {
    /* text-align: center; */
    padding-bottom: 2rem;
  }
  
  .contact p {
    margin-bottom: 1rem;
    font-size: 0.95rem;
  }
  
  .download-cv {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    font-weight: 600;
    color: white;
    background-color: var(--primary);
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background 0.2s ease;
  }
  
  .download-cv:hover {
    background-color: black;
  }
  
  .social-links {
    margin: 1rem 0;
    display: flex;
    /* justify-content: center; */
    gap: 1.25rem;
  }
  
  .social-links a {
    color: #333;
    font-size: 1.5rem;
    transition: color 0.2s;
  }
  
  .social-links a:hover {
    color: var(--accent);
  }

  .contact-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    
  }
  
  .contact-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.25rem 0.25rem;
    font-size: 0.85rem;
    font-weight: 600;
    color: white;
    background-color: var(--primary);
    border-radius: 4px;
    text-decoration: none;
    transition: background 0.2s ease;
    min-width: 30px;
  }
  
  .contact-button i {
    font-size: 1.2rem;
  }
  
  .contact-button:hover {
    background-color: black;
  }