:root {
  --bg-light: #ffffff;
  --bg-dark: #121212;
  --text-light: #1a1a1a;
  --text-dark: #f0f0f0;
  --gray: #eaeaea;
  --primary: #333;
  --accent: #000;
  --button-active-bg: #d5d5d5;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-light);
  color: var(--text-light);
  line-height: 1.6;
  padding: 0;
}

/* 
main.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 6rem 2rem 2rem 2rem;
} */